%% -*- mode: erlang -*-
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
	{lager,
	 {git, "git@github.com:erlang-lager/lager.git",
	  {tag, "3.6.8"}}},
	{uuid,
	 {git, "https://github.com/avtobiff/erlang-uuid.git",
	  {tag, "v0.5.2"}}},
        {erqec,
         {git, "git@github.com:Svampen/erqec.git",
          {branch, "master"}}}
       ]}.
{ct_opts, [{sys_config, ["config/rqe_tests.config"]}]}.
